sentence-transformers
redis
chromadb
transformers
logging
langchain-community
pypdf
ollama
sentence-transformers
pinecone
nomic
InstructorEmbedding
huggingface_hub
llama-index
chromadb
onnxruntime==1.15.0